<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oplusz.festgo.repository.FestRequestDao">

    <!-- 축제승인 요청 -->
    <insert id="insertFestRequest">
        insert into fest_request(FE_ID, FR_APPROVAL)
        values(#{feId}, #{frApproval})
    </insert>

</mapper>