<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oplusz.festgo.repository.FestRequestDao">

    <!-- 축제승인 요청 -->
    <insert id="insertFestRequest">
        insert into fest_request(FE_ID, FR_APPROVAL)
        values(#{feId}, #{frApproval})
    </insert>
    
    <!-- 희성 작성 시작 -->
    
    <!-- 축제 승인해주기 fr_approval을 0으로 바꿔줌 -->
    <update id="approveFestivalByFeId">
        update fest_request
        set fr_approval = 0
        where fe_id = #{feId}
    </update>
    
    <update id="refuseFestivalByMeId">
        update fest_request
        set fr_approval = 2, fr_cause = #{frCause}
        where fe_id = #{feId}
    </update>
    
    
    <!-- 희성 작성 끝 -->

</mapper>