<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oplusz.festgo.repository.MemberDao">

    <!-- 로그인에 사용할 SQL -->
    <select id="selectByUsernameAndPassword" resultType="Member">
        select * from member where me_username = #{meUsername} and me_password = #{mePassword}
    </select>
</mapper>